
/*--------------------------------------------------------------
# listing styling
--------------------------------------------------------------*/
ul {
  list-style-type: none;
  padding: 0;
}
.card-list-container-border {
  width: 80%;
  border: 1px solid #eee;
  padding: 20px;
}
.card-list-container {
  width: 80%;
}
.card-list-container,
.card-list-container-border {
  li {
    @extend %flexspacebetween;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    cursor: pointer;
    input[type="checkbox"] {
      cursor: pointer;
      margin-left: 20px;
    }
  }
}
